.vscode/
build/
*egg-info/
*pyc
temp/
datasets/font_process/font_ttf/
datasets/font_process/paired_images/
datasets/font_process/pickled_data/
datasets/facades/
datasets/font_cls/

*out.node*

*.so
.vsub/

tools/cat_embedding_train/
tools/checkpoints/
tools/debug/
tools/save/
tools/duilian
tools/generate_png/
datasets/Calligraphy_Processed/
title_poster/