<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Template</title>
  <link rel="stylesheet" href="//www.mdui.org/source/dist/css/mdui.min.css"/>
</head>
<body>

<div class="mdui-container">
  <div class="mdui-tab mdui-tab-full-width" mdui-tab="options">
    <a href="{{ url_for('.main_page_couplet') }}" class="mdui-ripple">Couplet</a>
    <a href="{{ url_for('.main_page_create') }}" class="mdui-ripple">Create Font</a>
    <a href="{{ url_for('.main_page_template') }}" class="mdui-ripple mdui-tab-active">Template</a>
  </div>
</div>

<div class="mdui-container-fluid">
    
</div>

<script src="//www.mdui.org/source/dist/js/mdui.min.js"></script>
</body>
</html>
